* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}
body {
    background: #eee;
}


/*Navbar*/ 

/*Main*/

.main-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.hero-page {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.product-page {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.gallery-page {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.about-page {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.contact-page {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}